.mono
alda
android
arduino-ide
autostart
autostart-scripts
balena-etcher
balena-etcher-electron
Cadence
cef_user_data
coc
Code
configstore
Cypress
dconf
discord
Electron
Element
fontconfig
fontforge
GIMP
Google
google-chrome
gtk-2.0
gtk-3.0
gtk-4.0
inkscape
KDE
kde.org
kdedefaults
KeePass
lutris
manjaro
procps
pulse
session
Signal
skypeforlinux
systemd
Thunar
timestamps
vimb
vlc
voxygen
xfce4
xsettingsd
yarn
Zettlr